@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <div style="width: 680px; float: left;">
        <h1>QuailCam</h1>
        <img src="" width="640" height="480" />
        <br />
        <p>Thurs, Dec 11 12:42</p>
    </div>
    <div style="width: 300px; float: left; margin-top: 36px">
        
        <h3>Light</h3>

        <div style="width: 350px; height: 150px;">
            <canvas id="lightChart" width="340" height="140"></canvas>
        </div>
        <script type="text/javascript">
            // TODO: get this data from the controller of course
            var lightData = {
                labels: ["0:00", "4:00", "8:00", "12:00", "16:00", "20:00"],
                datasets: [
                    {
                        label: "Average",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [65, 59, 80, 81, 56, 55]
                    },
                    {
                        label: "Today",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: [28, 48, 40, 19, 86, 27]
                    }
                ]
            };
        </script>

        <h3>Temperature</h3>
        <div style="width: 340px; height: 150px; border: 1px dotted gray; text-align: center">(graph goes here)</div>
        <h3>Humidity</h3>
        <div style="width: 340px; height: 150px; border: 1px dotted gray; text-align: center">(graph goes here)</div>
    </div>
    <div style="clear: left"></div>
    <hr/>
    <div style="width: 700px; margin-top: 10px;">
        <h2>Eggs This Week</h2>
        <div style="width: 900px; height: 250px; border: 1px dotted gray; text-align: center">(graph goes here)</div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat turpis ut nisl congue pulvinar. Nulla facilisi. Curabitur eget gravida lectus. Aenean lacinia, nibh sit amet maximus blandit, urna tortor interdum magna, et finibus libero nisi sed orci. Duis faucibus turpis nec dapibus molestie. Curabitur quis elementum odio. Quisque maximus velit in dui tincidunt, a placerat augue commodo. Proin malesuada metus enim, vel imperdiet
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat turpis ut nisl congue pulvinar. Nulla facilisi. Curabitur eget gravida lectus. Aenean lacinia, nibh sit amet maximus blandit, urna tortor interdum magna, et finibus libero nisi sed orci. Duis faucibus turpis nec dapibus molestie. Curabitur quis elementum odio. Quisque maximus velit in dui tincidunt, a placerat augue commodo. Proin malesuada metus enim, vel imperdiet
        </p>
    </div>
</div>